USE [CasaBancaria]
GO
/****** Object:  Table [dbo].[AGENCIA]    Script Date: 06/16/2020 22:14:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AGENCIA](
	[CODIGO_AGENCIA] [varchar](10) NOT NULL,
	[HORA_ABRIR] [varchar](10) NULL,
	[HORA_FECHAR] [varchar](10) NULL,
	[END_AGENCIA] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO_AGENCIA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EMPRESTIMO]    Script Date: 06/16/2020 22:14:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPRESTIMO](
	[ID_EMPRESTIMO] [varchar](10) NOT NULL,
	[MOD_SAC] [varchar](10) NULL,
	[TAXA] [varchar](10) NULL,
	[REALIZAR] [varchar](10) NULL,
	[MOD_PRICE] [varchar](10) NULL,
	[QUITAR] [varchar](10) NULL,
	[CLIENTE] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_EMPRESTIMO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TRANSACAO]    Script Date: 06/16/2020 22:14:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TRANSACAO](
	[DEPOSITO] [varchar](10) NULL,
	[EXTRATO] [varchar](10) NULL,
	[CONF_SALDO] [varchar](10) NULL,
	[REALIZAR_EMPREST] [varchar](10) NULL,
	[ID] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIPO_CONTA]    Script Date: 06/16/2020 22:14:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPO_CONTA](
	[CONTA_CORRENTE] [varchar](10) NULL,
	[SALDO] [varchar](10) NULL,
	[TIPO_CLIENTE] [varchar](10) NULL,
	[TIPO_CLIENTE1] [varchar](10) NULL,
	[TIPO_CLIENTE2] [varchar](10) NULL,
	[TIPO_CLIENTE3] [varchar](10) NULL,
	[TIPO_CLIENTE4] [varchar](10) NULL,
	[CONTA_POUPANCA] [varchar](10) NULL,
	[EMPRESTIMO] [varchar](10) NULL,
	[NUMERO_CONTA] [varchar](10) NOT NULL,
	[ID] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[NUMERO_CONTA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIPO_CLIENTE]    Script Date: 06/16/2020 22:14:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPO_CLIENTE](
	[TIPO_CLIENTE_PK] [int] NOT NULL,
	[TIPO_CLIENTE] [varchar](10) NULL,
	[NUMERO_CONTA] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[TIPO_CLIENTE_PK] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FUNCIONARIO]    Script Date: 06/16/2020 22:14:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FUNCIONARIO](
	[MATRICULA] [varchar](10) NOT NULL,
	[NOME_FUNC] [varchar](10) NULL,
	[CARGO_FUNC] [varchar](10) NULL,
	[CODIGO_AGENCIA] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATRICULA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 06/16/2020 22:14:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[CPF] [varchar](10) NULL,
	[ENDERECO] [varchar](10) NULL,
	[NOME] [varchar](10) NULL,
	[CONTA] [varchar](10) NOT NULL,
	[CODIGO_AGENCIA] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[CONTA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK__CLIENTE__CODIGO___22AA2996]    Script Date: 06/16/2020 22:14:37 ******/
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD FOREIGN KEY([CODIGO_AGENCIA])
REFERENCES [dbo].[AGENCIA] ([CODIGO_AGENCIA])
GO
/****** Object:  ForeignKey [FK__FUNCIONAR__CODIG__1DE57479]    Script Date: 06/16/2020 22:14:37 ******/
ALTER TABLE [dbo].[FUNCIONARIO]  WITH CHECK ADD FOREIGN KEY([CODIGO_AGENCIA])
REFERENCES [dbo].[AGENCIA] ([CODIGO_AGENCIA])
GO
/****** Object:  ForeignKey [FK__TIPO_CLIE__NUMER__37A5467C]    Script Date: 06/16/2020 22:14:37 ******/
ALTER TABLE [dbo].[TIPO_CLIENTE]  WITH CHECK ADD FOREIGN KEY([NUMERO_CONTA])
REFERENCES [dbo].[TIPO_CONTA] ([NUMERO_CONTA])
GO
